.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
  height: 40vh;

  &__table {
    width: 70%;
    border: 2px solid black;
    border-radius: 12px;
    background-color: aqua;

    &-row {
      border-bottom: 1px solid black;
    }
  }
}

th, td {
  width: 33%;
  text-align: center;
  border-right: 1px solid darkgrey;
}

th:last-child, td:last-child {
  border-right: none;
}
