.converter {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__inOutPut-container {
    display: flex;
    gap: 30px;
  }

  &__inOutPut-container h4 {
    text-align: center;
  }

  &__operation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__inPut-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
